<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delta Login Demo</title>
</head>
<body>
    <h1>Delta Login Demo</h1>
    <p>Logged in as <%= address %> (<a href='/logout'>logout</a>)</p>

    <% if (successMessage) { %>
    <p style='color: green'><%= successMessage %></p>
    <% } %>

    <h3>Public groups</h3>
    <p>There are currently
    <%= chats && chats.length || "no" %>
    public groups.
    </p>

    <ul>
      <% chats.forEach(function({chatId, chatName, already_joined}) { %>
      <li><%= chatName %>
        <% if (already_joined) { %>
          <span title="You are part of this group already" style='color: green; font-weight: 1.2em'>✓</span>
        <% } else { %>
          (<a href='/joinGroup/<%= chatId %>'>join</a>)
        <% } %>
      </li>
      <% }); %>
    </ul>

</body>
</html>
